* {
    margin: 0;
    padding: 0;
}
.con {
    display: inline;
}
@media only screen and (min-width: 700px) {
    .con {
        margin: auto;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 0px;
        padding: 60px;
        overflow: scroll;
    }
}
